@import "@/styles/_variable";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
dl,
li {
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 12px;
  line-height: 16px;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
}

h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
}

h3,
p {
  font-size: $h3;
}

::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(50, 50, 50, 0.2);
}
::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(100, 100, 100, 0.1);
  box-shadow: inset 0 0 5px rgba(100, 100, 100, 0.1);
}

.global-body {
  .el-select-dropdown,
  .el-input__inner {
    width: 124px;
    font-size: 12px;
    color: $select-font-color;
    background-color: $select-bgcolor;
    border-radius: 0;
    border-color: $select-bgcolor;
  }
  .el-input__inner {
    width: 124px;
    height: 24px;
    padding-left: 8px;
    font-size: 12px;
    color: $select-font-color;
    background-color: $select-bgcolor;
    border-radius: 0;
    border-color: $select-bgcolor;
    &:hover,
    &:focus {
      border-color: $select-bgcolor;
    }
  }
  .el-input__icon {
    line-height: 24px;
  }
  .el-select-dropdown__item {
    padding-left: 8px;
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    color: $select-font-color;
    &.hover {
      color: $select-bgcolor;
      background-color: $select-font-color;
    }
  }
  .el-select .el-input.is-focus .el-input__inner{
    border-color: $select-bgcolor;
  }
  .el-popper[x-placement^=bottom] .popper__arrow ,
  .el-popper[x-placement^=bottom] .popper__arrow::after{
    border-bottom-color: $select-bgcolor;
  }
}
